{% load i18n %}
<form
    method="{{method}}" action="{{action}}"
    class="{{className}}" id="{{id}}"
>
{% csrf_token %}

{% for field in form.hidden_fields %}
    {{field}}
{% endfor %}


{% for field in form.visible_fields  %}
    <div class="form-group mb-4">
        <label for="{{field.auto_id}}">{{field.label}}</label>
        {{field}}
        {% if field.help_text %}
        <small id="{{field.auto_id}}-helptext" class="form-text text-muted">
            {{field.help_text}}
        </small>
        {% endif %}
    </div>
{% endfor %}
  <div class="form-group">
    <div>
      <button type="submit" class="btn btn-primary">{% trans submit_text %}</button>
    </div>
  </div>
</form>
